@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #1fa2ff;

    --background: 218 65% 4.48%;
    --foreground: 218 10% 97.8%;

    --muted: 218 50% 16.8%;
    --muted-foreground: 218 10% 55.6%;

    --popover: 218 45% 7.280000000000001%;
    --popover-foreground: 218 10% 97.8%;

    --card: 218 45% 7.280000000000001%;
    --card-foreground: 218 10% 97.8%;

    --border: 218 50% 16.8%;
    --input: 218 50% 16.8%;

    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;

    --secondary: 218 50% 16.8%;
    --secondary-foreground: 218 10% 97.8%;

    --accent: 218 50% 16.8%;
    --accent-foreground: 218 10% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218 10% 97.8%;

    --ring: 218 100% 56%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[2px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
  .button {
    @apply py-4 px-6  gap-3 rounded-full font-semibold text-[16px] leading-[140%] focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
  }
  .submit-button {
    @apply bg-purple-gradient bg-cover rounded-full py-1 px-8  font-semibold text-[16px] leading-[140%] h-[50px]  md:h-[54px];
  }
  .gradient-text {
    @apply bg-purple-gradient bg-cover bg-clip-text text-transparent;
  }
}
