@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #671ea7, #4389a2);

    --background: 289 37.699999999999996% 1%;
    --foreground: 302, 3%, 95%;

    --muted: 289 28.999999999999996% 10.5%;
    --muted-foreground: 289 5.8% 53.5%;

    --popover: 289 53.4% 4.55%;
    --popover-foreground: 289 5.8% 96.75%;

    --card: 289 53.4% 4.55%;
    --card-foreground: 289 5.8% 96.75%;

    --border: 289 28.999999999999996% 10.5%;
    --input: 289 28.999999999999996% 10.5%;

    --primary: 289 58% 35%;
    --primary-foreground: 289 5.8% 96.75%;

    --secondary: 289 28.999999999999996% 20.5%;
    /* --secondary: 300, 41%, 10%; */
    --secondary-foreground: 289 5.8% 96.75%;

    --accent: 289 28.999999999999996% 10.5%;
    --accent-foreground: 289 5.8% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 289 5.8% 96.75%;

    --ring: 289 58% 35%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .custom-card-background {
    @apply border border-white/[.1]  rounded-[8px] bg-[radial-gradient(164.75%_100%_at_50%_0%,#334155_0%,#0F172A_48.73%)];
  }
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[2px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
  .button {
    @apply py-4 px-6  gap-3 rounded-full font-semibold text-[16px] leading-[140%] focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
  }
  .submit-button {
    @apply bg-purple-gradient bg-cover rounded-full py-1 px-8  font-semibold text-[16px] leading-[140%] h-[50px]  md:h-[54px];
  }
  .gradient-text {
    @apply bg-purple-gradient bg-cover bg-clip-text text-transparent;
  }
  .search-field {
    @apply border bg-transparent  w-full  h-[50px] font-medium text-[16px] leading-[140%] focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
  }
}

/** =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
}
